@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.nav-link, .logo, .icon-circle_white:hover, .dot, .button {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 20px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./assets/BG.jpg);
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 81.77vw;
  margin: 0 auto;
}

@media (max-width: 16.67vw) {
  .container {
    padding: 0 21px;
  }
}

h1 {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.25rem;
  color: #1C1C1C;
}

h2 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.95rem;
  color: #1C1C1C;
}

h3 {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.34rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  padding: 2.24vw 0 1.92vw 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(28, 28, 28, 0.07);
}

.nav-link {
  list-style: none;
  cursor: pointer;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.98rem;
  text-transform: uppercase;
  letter-spacing: 5%;
  color: #1C1C1C;
}

.nav-link:hover {
  color: #F38120;
}

@media (max-width: 16.67vw) {
  .header-nav {
    display: none;
  }
}

.logo {
  cursor: pointer;
}

.logo-object {
  cursor: pointer;
}

p {
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1rem;
}

.theme_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 0.9rem;
}

.introduction_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5vw;
  width: 10.69vw;
}

.contacts {
  width: 12.65vw;
}

.clickable_link {
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.73rem;
  color: #1C1C1C;
}

.clickable_link:hover {
  color: #12C868;
}

.clickable_link::after {
  top: 3px;
  display: block;
  width: 100%;
  content: '';
  border-bottom: 2px dotted #12C868;
}

.pdf_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17.15px;
}

.big-logo {
  width: 14.27vw;
  height: 7.7vw;
  background-image: url(./assets/biglogoform.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-logo img {
  max-width: 100%;
  height: auto;
}

.social_links p::before {
  content: "🞄";
  color: #12C868;
  padding-right: 4px;
}

.social_links_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.73vw;
}

.ico {
  cursor: pointer;
  display: inline-block;
  width: 19.29px;
  height: 19.29px;
}

.icon-circle {
  width: 43.85px;
  height: 43.85px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-circle_purple {
  background-color: #976FCC;
}

.icon-circle_green {
  background-color: #12C868;
}

.icon-circle_blue {
  background-color: #05A0EB;
}

.icon-circle_white:hover {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.icon-circle_white a {
  font-size: 0.55rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.67rem;
  color: #12C868;
}

.ico_viber {
  background-image: url("./assets/viber.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.ico_whatsup {
  background-image: url("./assets/whatsup.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.ico_telegram {
  background-image: url("./assets/telegram.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.03vw;
}

.call_link {
  color: #12C868;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.call_link:hover {
  color: #21E27C;
}

.section_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.7vw;
}

.landing_text {
  padding-top: 4.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.99vw;
  width: 37.92vw;
  height: 30.42vw;
}

.title_addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.83vw;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.367vw;
}

.dot {
  width: 0.48vw;
  height: 0.48vw;
  border-radius: 50%;
  border: 1.5px solid #12C868;
}

.dot:nth-child(2) {
  border: 1.5px solid rgba(18, 200, 104, 0.75);
}

.dot:nth-child(3) {
  border: 1.5px solid rgba(18, 200, 104, 0.5);
}

.dot:nth-child(4) {
  border: 1.5px solid rgba(18, 200, 104, 0.25);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9vw;
  padding-top: 1.35vw;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.71vw;
  padding: 1.4vw 2vw 1.4vw 2.76vw;
  height: 5.2vw;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.98rem;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2%;
  border-radius: 500px;
  cursor: pointer;
  margin-bottom: 1vw;
}

.button_cost {
  background: #12C868;
  width: 19.53vw;
}

.button_cost:hover {
  background: #21E27C;
  gap: 1.3vw;
}

.button_buy {
  background: #F38120;
  width: 17.44vw;
}

.button_buy:hover {
  background: #FD9C49;
  gap: 1.3vw;
}

.call_to_action {
  width: 14.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.83vw;
}

.bullets {
  background-image: url(./assets/bullets_form.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 2.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11.72vw;
  height: 32.63vw;
}

.bullets-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.shadow_bullet {
  background-image: url(./assets/menu_shadow.png);
  background-size: 100%;
  height: 2.81vw;
}

.bullets-item {
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1rem;
}

/*popup*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup_open .popup_content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup_body {
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 952px;
}

.popup_close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10px;
}

.popup_content {
  background-color: var(--color-light-s);
  border-radius: 9px;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.popup_picture {
  background-image: url(../../assets/images/pets-jennifer.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.popup_text {
  width: 351px;
  margin: 0 20px 0 29px;
}

.popup_title {
  padding-bottom: 10px;
}

.popup_description {
  padding: 40px 0 40px 0;
}

.modal__list-point {
  list-style-type: none;
  font-style: var(--font-styleG);
  font-size: var(--font-small-text);
  padding-bottom: 10px;
}

.modal__list-point::before {
  color: var(--color-primary);
  content: "•";
  padding-right: 10px;
}

.modal__list-point > .description {
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */