//Reset

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{  scroll-behavior: smooth; overflow-x:hidden;height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{  padding: 0; border: none; font: inherit; color: inherit; background-color: transparent; cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
textarea {font-family: inherit;font-size: inherit; line-height: inherit; border: none; background-color: transparent;resize: none; outline: none;}
  



// Colors

$color_theme:#F38120;
$color_theme_hover:#FD9C49;
$color_button:#12C868;
$color_button_hover:#21E27C;
$color_text: #1C1C1C;
$color_background: #FFFFFF;



//Size
$display-width: 100vw;
$content-width: 81.77vw;
$mobile-width: 16.67vw;
$border-main: 500px;



// Mixins

@mixin font ($size, $height: $size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}


@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}


@mixin columns {
    display: flex;
    flex-direction: column;
}


@mixin flex-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




// Placeholders

%transition {
    transition: all .3s ease-out;
}

%font-primary {
    font-family: 'Montserrat', sans-serif;
}



// Commons


html {
    font-size: 20px;
}

body {
    @extend %font-primary;
    @include columns;
    background-image: url(./assets/BG.jpg);
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    @include media-mobile {
        padding: 0 21px;
    }
}

  h1 {
    @include font($height: 4.25rem, $size: 2.75rem, $weight: 300);
    color: $color_text;
    // @include media-mobile {
    //     @include font($height: 4.2rem, $size: 3.2rem);
    // }
}

h2 {  
    @include font($height: 1.95rem, $size: 1.6rem, $weight: 400);
    color: $color_text;
}



// Header

.header {
    @include columns;
}


.header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



//Navigation

.nav-list {
    padding: 2.24vw 0 1.92vw 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color_text, .07);   
}

.nav-link {
    list-style: none;
    cursor: pointer;
    @include font($size: 0.7rem, $height: 0.98rem, $weight: 500);
    text-transform: uppercase;
    letter-spacing: 5%;
    @extend %transition; 
    color: $color_text;
    &:hover {
        color: $color_theme;
    }
}

.header-nav {
    @include media-mobile {
        display: none;
    }
}



.logo {
    @extend %transition;
    cursor: pointer;
}

.logo-object {
    cursor: pointer;
}

// Theme block

p {
@include font($size: 0.6rem, $height: 1.5rem, $weight: 400);
}



.theme_block {
    @include columns;
    text-align: center;
}


.clickable_link {
    @include font($size: 0.6rem, $height: 1.5rem, $weight: 400);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: $color_button;

}


.pdf_block {
    display: flex;
    align-items: center;
    gap: 17.15px;
}



.big-logo {
    width: 14.27vw;
    height: 13.55vw;
    background-image: url(./assets/biglogoform.png);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.social_links {
    p::before{
        content: "🞄"; 
        color: $color_button;
        padding-right: 4px;
    }
}

.social_links_buttons {
    display: flex;
    gap: 0.73vw;
}


///icons

.ico {
    cursor: pointer;
    display: inline-block;
    width: 19.29px;
    height: 19.29px;
}

.icon-circle {
    width: 43.85px;
    height: 43.85px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &_purple {
        background-color: #976FCC;
    }
    &_green {
        background-color: #12C868;
    }
    &_blue {
        background-color: #05A0EB;;
    }
    &_white {
        &:hover {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05); 
        @extend %transition;
        }
        a{
            @include font($size: 0.55rem, $height: 0.67rem, $weight: 600);
            color: $color_button;
            }
    }
}

.ico_viber {
    background-image: url("./assets/viber.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.ico_whatsup {
    background-image: url("./assets/whatsup.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.ico_telegram {
    background-image: url("./assets/telegram.svg");
    background-repeat: no-repeat;
    background-size: contain;

}


//main

.section_wrap {
    display: flex;
    gap: 3.7vw; 
}


.landing_text {
@include columns;
width: 37.92vw;
height: 30.42vw;
}


.title_addition {
    display: flex;
    align-items: center;
    gap: 0.83vw;
}

.dots {
    display: flex;
    gap: 0.367vw;
}

.dot {
    width: 0.48vw;
    height: 0.48vw;
    border-radius: 50%;
    border: 1.5px solid $color_button;
    @extend %transition;
    &:nth-child(2)  {
        border: 1.5px solid rgba(18, 200, 104, 0.75);
    }
    &:nth-child(3)  {
        border: 1.5px solid rgba(18, 200, 104, 0.5);
    }
    &:nth-child(4)  {
        border: 1.5px solid rgba(18, 200, 104, 0.25);
    }
}



.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    align-items: center;
    padding: 1.4vw 0;
    height: 5.2vw;
    @include font($size: 0.7rem, $height: 0.98rem, $weight: 500);
    color: $color_background;
    text-transform: uppercase;
    letter-spacing: 2%;
    border-radius: $border-main;
    cursor: pointer;
    @extend %transition;
    &_cost {
        background: $color_button;
        width: 19.53vw;
        &:hover {
            background: $color_button_hover;
        }
    }
    &_buy {
        background: $color_theme;
        width: 17.44vw;
        &:hover {
            background: $color_theme_hover;
        }
    }
    

}


.bullets {
@include columns;
width: 11.72vw;
height: 32.63vw;
}



