@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.nav-link, .logo, .icon-circle_white:hover, .dot, .button {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 20px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./assets/BG.jpg);
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 81.77vw;
  margin: 0 auto;
}

@media (max-width: 16.67vw) {
  .container {
    padding: 0 21px;
  }
}

h1 {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.25rem;
  color: #1C1C1C;
}

h2 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.95rem;
  color: #1C1C1C;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  padding: 2.24vw 0 1.92vw 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(28, 28, 28, 0.07);
}

.nav-link {
  list-style: none;
  cursor: pointer;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.98rem;
  text-transform: uppercase;
  letter-spacing: 5%;
  color: #1C1C1C;
}

.nav-link:hover {
  color: #F38120;
}

@media (max-width: 16.67vw) {
  .header-nav {
    display: none;
  }
}

.logo {
  cursor: pointer;
}

.logo-object {
  cursor: pointer;
}

p {
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.theme_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.clickable_link {
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #12C868;
          text-decoration-color: #12C868;
}

.pdf_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17.15px;
}

.big-logo {
  width: 14.27vw;
  height: 13.55vw;
  background-image: url(./assets/biglogoform.png);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_links p::before {
  content: "🞄";
  color: #12C868;
  padding-right: 4px;
}

.social_links_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.73vw;
}

.ico {
  cursor: pointer;
  display: inline-block;
  width: 19.29px;
  height: 19.29px;
}

.icon-circle {
  width: 43.85px;
  height: 43.85px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-circle_purple {
  background-color: #976FCC;
}

.icon-circle_green {
  background-color: #12C868;
}

.icon-circle_blue {
  background-color: #05A0EB;
}

.icon-circle_white:hover {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.icon-circle_white a {
  font-size: 0.55rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.67rem;
  color: #12C868;
}

.ico_viber {
  background-image: url("./assets/viber.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.ico_whatsup {
  background-image: url("./assets/whatsup.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.ico_telegram {
  background-image: url("./assets/telegram.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.section_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.7vw;
}

.landing_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 37.92vw;
  height: 30.42vw;
}

.title_addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.83vw;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.367vw;
}

.dot {
  width: 0.48vw;
  height: 0.48vw;
  border-radius: 50%;
  border: 1.5px solid #12C868;
}

.dot:nth-child(2) {
  border: 1.5px solid rgba(18, 200, 104, 0.75);
}

.dot:nth-child(3) {
  border: 1.5px solid rgba(18, 200, 104, 0.5);
}

.dot:nth-child(4) {
  border: 1.5px solid rgba(18, 200, 104, 0.25);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4vw 0;
  height: 5.2vw;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.98rem;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2%;
  border-radius: 500px;
  cursor: pointer;
}

.button_cost {
  background: #12C868;
  width: 19.53vw;
}

.button_cost:hover {
  background: #21E27C;
}

.button_buy {
  background: #F38120;
  width: 17.44vw;
}

.button_buy:hover {
  background: #FD9C49;
}

.bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11.72vw;
  height: 32.63vw;
}
/*# sourceMappingURL=style.css.map */