//Reset

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{  scroll-behavior: smooth; overflow-x:hidden;height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{  padding: 0; border: none; font: inherit; color: inherit; background-color: transparent; cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
textarea {font-family: inherit;font-size: inherit; line-height: inherit; border: none; background-color: transparent;resize: none; outline: none;}
  



// Colors

$color_theme:#F38120;
$color_theme_hover:#FD9C49;
$color_button:#12C868;
$color_button_hover:#21E27C;
$color_text: #1C1C1C;


//Size
$display-width: 1920px;
$content-width: 1570px;
$mobile-width: 320px;
$border-main: 500px;



// Mixins

@mixin font ($size, $height: $size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}


@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}


@mixin columns {
    display: flex;
    flex-direction: column;
}


@mixin flex-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




// Placeholders

%transition {
    transition: all .3s ease-out;
}

%font-primary {
    font-family: 'Montserrat', sans-serif;
}



// Commons


html {
    font-size: 20px;
}

body {
    @extend %font-primary;
    @include columns;
    justify-content: space-between;
    background-image: url(./assets/BG.jpg);
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    @include media-mobile {
        padding: 0 21px;
    }
}

  h1 {
    @include font($height: 4.25rem, $size: 2.75rem, $weight: 300);
    color: $color_text;
    // @include media-mobile {
    //     @include font($height: 4.2rem, $size: 3.2rem);
    // }
}

h2 {  
    @include font($height: 1.95rem, $size: 1.6rem, $weight: 400);
    color: $color_text;
}



// Header

.header {
    @include columns;
}

.header_container {
    @include flex-primary;
}

.header_panel {
    display: flex;
    align-items: center;
    gap: 196px;
}


//Navigation

.nav-list {
    display: flex;
    gap:42px;
}

.nav-link {
    list-style: none;
    cursor: pointer;
    @extend %font-title;
    @include font($size: 0.8rem, $height: 1.05rem, $weight: 500);
    @extend %transition; 
    color: $color_text;
    &:hover {
        color: $color_button;
    }
}

.header-nav {
    @include media-mobile {
        display: none;
    }
}



//Logo

.logo {
    @extend %transition;
    display: flex;
    gap: 6px;
    cursor: pointer;
    &:hover {
            filter: invert(25%) sepia(37%) saturate(3402%) hue-rotate(318deg) brightness(93%) contrast(104%);
    }
    margin-top: 25px;
    margin-bottom: 34px;
    width: 216px;
}

.logo-object {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logo-text {
    @extend %font-logo;
    @include font($size: 1.6rem, $height: 1.94rem);
    color: $color_text;
    align-self: flex-end; 
}

// Button

.button {
    @extend %font-title;
    background: $color_button;
    padding: 10px 30px;
    color: $color_text;
    @extend %font-title;
    @include font($size: 0.8rem, $height: 1.05rem, $weight: 500);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    @extend %transition;
        &:hover {
            background: $color_primary;
        }
    
}

