//Reset

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{  scroll-behavior: smooth; overflow-x:hidden;height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{  padding: 0; border: none; font: inherit; color: inherit; background-color: transparent; cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
textarea {font-family: inherit;font-size: inherit; line-height: inherit; border: none; background-color: transparent;resize: none; outline: none;}
  



// Colors

$color_theme:#F38120;
$color_theme_hover:#FD9C49;
$color_button:#12C868;
$color_button_hover:#21E27C;
$color_text: #1C1C1C;
$color_background: #FFFFFF;



//Size
$display-width: 100vw;
$content-width: 81.77vw;
$mobile-width: 420px;
$border-main: 500px;



// Mixins

@mixin font ($size, $height: $size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}


@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}


@mixin columns {
    display: flex;
    flex-direction: column;
}


@mixin flex-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




// Placeholders

%transition {
    transition: all .3s ease-out;
}

%font-primary {
    font-family: 'Montserrat', sans-serif;
}



// Commons


html {
    font-size: 20px;
}

body {
    @extend %font-primary;
    @include columns;
    background-image: url(./assets/BG.jpg);
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-mobile {
        background-image: url(./assets/bg_mobile.jpg);
    }
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    @include media-mobile {
        max-width: 276px;
    }
}

  h1 {
    @include font($height: 4.25rem, $size: 2.75rem, $weight: 300);
    color: $color_text;
    @include media-mobile {
        @include font($height: 1.5rem, $size: 0.9rem,  $weight: 300);
    }
}

h2 {  
    @include font($height: 1.95rem, $size: 1.6rem, $weight: 400);
    color: $color_text;
    @include media-mobile {
        @include font($height: 0.79rem, $size: 0.65rem,  $weight: 400);
    }
}


h3 {
    @include font($height: 1.34rem, $size: 1.1rem, $weight: 600);
    @include media-mobile {
        @include font($height: 0.85rem, $size: 0.7rem, $weight: 600);
    }
}


// Header

.header {
    @include columns;
}


.header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-mobile {
        padding-top: 10px ;
        gap: 22px;
    }
}



//Navigation

.nav-list {
    padding: 2.24vw 0 1.92vw 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color_text, .07);   
}

.nav-link {
    list-style: none;
    cursor: pointer;
    @include font($size: 0.7rem, $height: 0.98rem, $weight: 500);
    text-transform: uppercase;
    letter-spacing: 5%;
    @extend %transition; 
    color: $color_text;
    &:hover {
        color: $color_theme;
    }
}



.logo {
    @extend %transition;
    cursor: pointer;
}

.logo-object {
    cursor: pointer;
}

// Theme block

p {
@include font($size: 0.6rem, $height: 1.1rem, $weight: 400);
}



.theme_block {
    @include columns;
    text-align: center;
    line-height: 0.9rem;
}

.introduction_block {
    @include columns;
    gap: 0.5vw;
    width: 10.69vw;
    @include media-mobile {
        display: none;
     }
}

.hamburger__menu_open {
    display: block;
}


.contacts {
    width: 12.65vw;
}



.clickable_link {
    @include font($size: 0.6rem, $height: 0.73rem, $weight: 400);
    color: $color_text;
    &:hover {
        color: $color_button;
    }
    &::after {
        top: 3px;
        display: block;
        width: 100%;
        content: '';
        border-bottom: 2px dotted $color_button;
    }
}



.pdf_block {
    display: flex;
    align-items: center;
    gap: 17.15px;
    @include media-mobile {
        display: none;
     }
}

.pdf_block_open {
    display: flex;
}

.big-logo {
    width: 14.27vw;
    height: 7.7vw;
    background-image: url(./assets/biglogoform.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 100%;
        height: auto;
    }
    @include media-mobile {
        width: 75px;
     }
}


.social_links {
    p::before{
        content: "🞄"; 
        color: $color_button;
        padding-right: 4px;
    }
    @include media-mobile {
        display: none;
     }
}

.social_links_open {
    display: flex;
}



.social_links_buttons {
    display: flex;
    gap: 0.73vw;
}


///icons

.ico {
    cursor: pointer;
    display: inline-block;
    width: 19.29px;
    height: 19.29px;
}

.icon-circle {
    width: 43.85px;
    height: 43.85px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $color_theme;   
        @extend %transition;
        }
    &_purple {
        background-color: #976FCC;
    }
    &_green {
        background-color: #12C868;
    }
    &_blue {
        background-color: #05A0EB;;
    }
    &_white {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05); 
        }
        a{
            @include font($size: 0.55rem, $height: 0.67rem, $weight: 600);
            color: $color_button;
            }
    }


.ico_viber {
    background-image: url("./assets/viber.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.ico_whatsup {
    background-image: url("./assets/whatsup.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.ico_telegram {
    background-image: url("./assets/telegram.svg");
    background-repeat: no-repeat;
    background-size: contain;

}

.contacts {
    @include columns;
    gap: 0.03vw; 
    @include media-mobile {
        width: 137px;
     }
}


.call_link {
    color: $color_button;
    font-weight: bold;
    width:fit-content;
    align-self: center;
    &:hover {
        color: $color_button_hover;   
    }
}



//main

.section_wrap {
    display: flex;
    gap: 3.7vw; 
}


.landing_text {
padding-top: 4.3vw;
@include columns;
gap: 0.99vw;
width: 37.92vw;
height: 30.42vw;
@include media-mobile {
    width: 100%;
    text-align: center;
    padding-top: 34px;
    }
}



.title_addition {
    display: flex;
    align-items: center;
    gap: 0.83vw;
    @include media-mobile {
        padding-top: 5px;
        justify-content: center;
        }
}

.dots {
    display: flex;
    gap: 0.367vw;
}

.dot {
    width: 0.48vw;
    height: 0.48vw;
    border-radius: 50%;
    border: 1.5px solid $color_button;
    @extend %transition;
    &:nth-child(2)  {
        border: 1.5px solid rgba(18, 200, 104, 0.75);
    }
    &:nth-child(3)  {
        border: 1.5px solid rgba(18, 200, 104, 0.5);
    }
    &:nth-child(4)  {
        border: 1.5px solid rgba(18, 200, 104, 0.25);
    }
}



.buttons {
    display: flex;
    flex-wrap: wrap;
    gap:  0.9vw;
    padding-top: 1.35vw;
    @include media-mobile {
        padding-top: 17px;
        flex-direction: column;
        gap: 12px;
         }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.71vw;
    padding: 1.4vw 2vw 1.4vw 2.76vw;
    height: 5.2vw;
    @include font($size: 0.7rem, $height: 0.98rem, $weight: 500);
    color: $color_background;
    text-transform: uppercase;
    letter-spacing: 2%;
    border-radius: $border-main;
    cursor: pointer;
    @extend %transition;
    &_cost {
        background: $color_button;
        width: 19.53vw;
       
        &:hover {
            background: $color_button_hover;
            gap: 1.3vw;
        }
    }
    &_buy {
        background: $color_theme;
        width: 17.44vw;
        
        &:hover {
            background: $color_theme_hover;
            gap: 1.3vw;
        }
    }
    margin-bottom: 1vw;
    @include media-mobile {
        height: 60px;
        width: 100%;
        @include font($size: 0.5rem, $height: 0.8rem, $weight: 600);
        padding: 14px 45px;
         }
}


.call_to_action {
    width: 14.3vw;
    display: flex;
    align-items: flex-start;
    gap: 0.83vw;
    @include media-mobile {
        flex-direction: column;
        align-items: center;
       order: -1;
       width: 100%;
        }
}




.bullets {
background-image: url(./assets/bullets_form.png);
background-repeat: no-repeat;
background-size: cover;
box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
padding-top: 2.7vw;
@include columns;
width: 11.72vw;
height: 32.63vw;
@include media-mobile {
   display: none;
 }
}

.bullets-list { 
    @include columns;
    text-align: center;
}

.shadow_bullet {
    background-image: url(./assets/menu_shadow.png);
    background-size: 100%;
    height: 2.81vw;
   
}

.bullets-item {
    @include font($size: 0.7rem, $height: 1.1rem, $weight: 400);
}



//popup

/*popup*/

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease 0s;
  }
  
  .popup_open {
    opacity: 1;
    visibility: visible;
  }
  
  .popup_open .popup_content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }
  
  .popup_body {
    margin: 0 auto;
    border-radius: 35px;
    background-color: $color_background;
    @include columns;
    width:550px;
    height: 650px;
  }

  .popup_close {
    padding-top: 2.34vw;
    align-self: flex-end;
    padding-right: 2.4vw;
  }


  .popup_title_block {
    width: 21.69vw;
    @include columns;
    gap: 0.73vw;
    align-items: center;
  }

  .popup_title {
    @include font($size: 1.5rem, $height: 1.5rem, $weight: 500);
    letter-spacing: 2%;
  }

  .popup_description {
    @include font($size: 0.8rem, $height: 1.2rem, $weight: 400);
  }

  .popup_content {
    @include columns;
    align-items: center;
    gap: 1.4vw;
    padding: 0 3.49vw;
  }

.phone_block {
    @include columns;
    gap: 0.62vw;
    text-align: start;
}

.button_buy_popup {
    height: 4.43vw;
        img {
            transform: rotate(45deg)
        }
}


#phone_input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.71vw;
    padding: 1.4vw 2vw 1.4vw 2.76vw;
    height: 4.43vw;
    width: 17.44vw;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    color: $color_text;
    letter-spacing: 2%;
    border-radius: $border-main;
    cursor: pointer;
    @extend %transition;
    &::placeholder {
        @include font($size: 0.9rem, $height: 1rem, $weight: 400);
    }

}


.confidence_part {
    display: flex;
    gap: 0.1vw;
    align-items: center;
    text-align: start;
    p{
        font-weight: 500;
        span {
            color: $color_theme;
        }
    }
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 0.93vw;
    height: 0.91vw;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.custom-checkbox:checked+label::before {
  border-color: $color_theme;
  background-color: $color_theme;
  background-image: url('./assets/checkbox.svg');
}


/*Burger*/

.hamburger__menu {
    display: none;
  }
  
  @media (max-width:768px)  {
   
    .hamburger__menu {
        display: block;
        position: relative;
        width: 20px;
        height: 15px;
        z-index: 3;
        transition: 0.3s ease;
    }
  
    .hamburger__menu:hover {
      color: $color_theme;
    }
  
  .hamburger__menu:before,
  .hamburger__menu:after {
     content: '';
     background-color: $color_text;
     position: absolute;
     width: 100%;
     height: 2.13px;
     left: 0;
     transition: all 0.3s ease 0s;
  }
  .hamburger__menu:before {
  top: 4.31px;
  }
  .hamburger__menu:after {
  bottom: 4.31px;
  }
  .hamburger__menu span {
    content: '';
    background-color:  $color_text;
    position: absolute;
    width: 100%;
    height: 2.13px;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
  }
  
  .hamburger__menu_open:before {
    transform: rotate(45deg);
    top: 20px;
  }
  .hamburger__menu_open:after {
    transform: rotate(-45deg);
    top: 20px;
  } 
  .hamburger__menu_open span {
    transform: scale(0);
  }
  
  .header-nav {
    position: fixed;
    overflow-x: hidden;
    top: 88px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    background-color: #EDF2F5;
    z-index: 3;
    transform: translateX(100%);
    transition: all 0.5s ease 0s;
  }
  
  .header-nav_open {
  transform: translateX(0);
  right: -148px;
  transition: 0.7s;
  overflow: auto;
  }
  
  .nav-list {
    flex-direction: column;
    gap: 20px;
    font-size: 35px;
    line-height: 73px;
    transition: 0.3s ease;
    @include font($size: 0.5rem, $height: 0.7rem, $weight: 500);
  }
  
  }
  