@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.nav-link, .logo, .icon-circle:hover, .dot, .button, #phone_input {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 20px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./assets/BG.jpg);
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 420px) {
  body {
    background-image: url(./assets/bg_mobile.jpg);
  }
}

.container {
  max-width: 81.77vw;
  margin: 0 auto;
}

@media (max-width: 420px) {
  .container {
    max-width: 276px;
  }
}

h1 {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.25rem;
  color: #1C1C1C;
}

@media (max-width: 420px) {
  h1 {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
  }
}

h2 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.95rem;
  color: #1C1C1C;
}

@media (max-width: 420px) {
  h2 {
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.79rem;
  }
}

h3 {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.34rem;
}

@media (max-width: 420px) {
  h3 {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.85rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .header_menu {
    padding-top: 10px;
    gap: 22px;
  }
}

.nav-list {
  padding: 2.24vw 0 1.92vw 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(28, 28, 28, 0.07);
}

.nav-link {
  list-style: none;
  cursor: pointer;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.98rem;
  text-transform: uppercase;
  letter-spacing: 5%;
  color: #1C1C1C;
}

.nav-link:hover {
  color: #F38120;
}

.logo {
  cursor: pointer;
}

.logo-object {
  cursor: pointer;
}

p {
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1rem;
}

.theme_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 0.9rem;
}

.introduction_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5vw;
  width: 10.69vw;
}

@media (max-width: 420px) {
  .introduction_block {
    display: none;
  }
}

.hamburger__menu_open {
  display: block;
}

.contacts {
  width: 12.65vw;
}

.clickable_link {
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.73rem;
  color: #1C1C1C;
}

.clickable_link:hover {
  color: #12C868;
}

.clickable_link::after {
  top: 3px;
  display: block;
  width: 100%;
  content: '';
  border-bottom: 2px dotted #12C868;
}

.pdf_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17.15px;
}

@media (max-width: 420px) {
  .pdf_block {
    display: none;
  }
}

.pdf_block_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big-logo {
  width: 14.27vw;
  height: 7.7vw;
  background-image: url(./assets/biglogoform.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-logo img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 420px) {
  .big-logo {
    width: 75px;
  }
}

.social_links p::before {
  content: "🞄";
  color: #12C868;
  padding-right: 4px;
}

@media (max-width: 420px) {
  .social_links {
    display: none;
  }
}

.social_links_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_links_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.73vw;
}

.ico {
  cursor: pointer;
  display: inline-block;
  width: 19.29px;
  height: 19.29px;
}

.icon-circle {
  width: 43.85px;
  height: 43.85px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-circle:hover {
  background-color: #F38120;
}

.icon-circle_purple {
  background-color: #976FCC;
}

.icon-circle_green {
  background-color: #12C868;
}

.icon-circle_blue {
  background-color: #05A0EB;
}

.icon-circle_white {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.icon-circle a {
  font-size: 0.55rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.67rem;
  color: #12C868;
}

.ico_viber {
  background-image: url("./assets/viber.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.ico_whatsup {
  background-image: url("./assets/whatsup.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.ico_telegram {
  background-image: url("./assets/telegram.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.03vw;
}

@media (max-width: 420px) {
  .contacts {
    width: 137px;
  }
}

.call_link {
  color: #12C868;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.call_link:hover {
  color: #21E27C;
}

.section_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.7vw;
}

.landing_text {
  padding-top: 4.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.99vw;
  width: 37.92vw;
  height: 30.42vw;
}

@media (max-width: 420px) {
  .landing_text {
    width: 100%;
    text-align: center;
    padding-top: 34px;
  }
}

.title_addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.83vw;
}

@media (max-width: 420px) {
  .title_addition {
    padding-top: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.367vw;
}

.dot {
  width: 0.48vw;
  height: 0.48vw;
  border-radius: 50%;
  border: 1.5px solid #12C868;
}

.dot:nth-child(2) {
  border: 1.5px solid rgba(18, 200, 104, 0.75);
}

.dot:nth-child(3) {
  border: 1.5px solid rgba(18, 200, 104, 0.5);
}

.dot:nth-child(4) {
  border: 1.5px solid rgba(18, 200, 104, 0.25);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9vw;
  padding-top: 1.35vw;
}

@media (max-width: 420px) {
  .buttons {
    padding-top: 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.71vw;
  padding: 1.4vw 2vw 1.4vw 2.76vw;
  height: 5.2vw;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.98rem;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2%;
  border-radius: 500px;
  cursor: pointer;
  margin-bottom: 1vw;
}

.button_cost {
  background: #12C868;
  width: 19.53vw;
}

.button_cost:hover {
  background: #21E27C;
  gap: 1.3vw;
}

.button_buy {
  background: #F38120;
  width: 17.44vw;
}

.button_buy:hover {
  background: #FD9C49;
  gap: 1.3vw;
}

@media (max-width: 420px) {
  .button {
    height: 60px;
    width: 100%;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.8rem;
    padding: 14px 45px;
  }
}

.call_to_action {
  width: 14.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.83vw;
}

@media (max-width: 420px) {
  .call_to_action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
}

.bullets {
  background-image: url(./assets/bullets_form.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
  padding-top: 2.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11.72vw;
  height: 32.63vw;
}

@media (max-width: 420px) {
  .bullets {
    display: none;
  }
}

.bullets-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.shadow_bullet {
  background-image: url(./assets/menu_shadow.png);
  background-size: 100%;
  height: 2.81vw;
}

.bullets-item {
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1rem;
}

/*popup*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup_open .popup_content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup_body {
  margin: 0 auto;
  border-radius: 35px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  height: 650px;
}

.popup_close {
  padding-top: 2.34vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 2.4vw;
}

.popup_title_block {
  width: 21.69vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.73vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 2%;
}

.popup_description {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
}

.popup_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4vw;
  padding: 0 3.49vw;
}

.phone_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.62vw;
  text-align: start;
}

.button_buy_popup {
  height: 4.43vw;
}

.button_buy_popup img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#phone_input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.71vw;
  padding: 1.4vw 2vw 1.4vw 2.76vw;
  height: 4.43vw;
  width: 17.44vw;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  color: #1C1C1C;
  letter-spacing: 2%;
  border-radius: 500px;
  cursor: pointer;
}

#phone_input::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

#phone_input:-ms-input-placeholder {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

#phone_input::-ms-input-placeholder {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

#phone_input::placeholder {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.confidence_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
}

.confidence_part p {
  font-weight: 500;
}

.confidence_part p span {
  color: #F38120;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 0.93vw;
  height: 0.91vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #F38120;
  background-color: #F38120;
  background-image: url("./assets/checkbox.svg");
}

/*Burger*/
.hamburger__menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger__menu {
    display: block;
    position: relative;
    width: 20px;
    height: 15px;
    z-index: 3;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .hamburger__menu:hover {
    color: #F38120;
  }
  .hamburger__menu:before,
  .hamburger__menu:after {
    content: '';
    background-color: #1C1C1C;
    position: absolute;
    width: 100%;
    height: 2.13px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hamburger__menu:before {
    top: 4.31px;
  }
  .hamburger__menu:after {
    bottom: 4.31px;
  }
  .hamburger__menu span {
    content: '';
    background-color: #1C1C1C;
    position: absolute;
    width: 100%;
    height: 2.13px;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hamburger__menu_open:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
  }
  .hamburger__menu_open:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
  }
  .hamburger__menu_open span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-nav {
    position: fixed;
    overflow-x: hidden;
    top: 88px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    background-color: #EDF2F5;
    z-index: 3;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header-nav_open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    right: -148px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    overflow: auto;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    font-size: 35px;
    line-height: 73px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */